Pillow==9.0.0
-e git+https://github.com/scieloorg/packtools/@2.7.0#egg=packtools
psycopg2-binary==2.8.5
SQLAlchemy==1.3.18
-e git+https://github.com/scieloorg/scielo_v3_manager/@0.6#egg=scielo_v3_manager